<div class="p-d-block p-mx-auto">
    <div class="p-text-center p-mt-3">
        <h3>CRUD FRONTEND</h3>
    </div>

  <div class="p-d-flex p-jc-center">

    <p-card class="card">
        <strong>Login</strong>
        <div class="p-fluid p-mt-3">
        <div class="p-float-label p-mb-3">
          <input id="float-input" type="text" class="" pInputText>
          <label for="float-input">Username</label>
        </div>
        <div class="p-float-label">
          <input id="float-input" type="text" pInputText>
          <label for="float-input">Username</label>
        </div>
      </div>
      <div class="p-jc-center">
        <button pButton pRipple type="button" label="Efetuar Login" class="p-button-primary p-mt-3 "></button>

      </div>

    </p-card>
  </div>

</div>
