<div class="p-jc-center">
  <div class="p-mr-5 p-ml-5 p-mt-3">
    <p-breadcrumb [model]="items"></p-breadcrumb>
  </div>
  <div class="p-mr-5 p-ml-5 p-mt-3">
    <p-card class="card">
      <span class="p-buttonset">
        <button pButton type="button" (click)="editar()" label="Editar" icon="pi pi-pencil"></button>
        <button pButton type="button" (click)="deletar()" label="Deletar" icon="pi pi-trash"></button>
      </span>

      <h4 class="p-mb-0">Dados Paciente</h4>

      <div class="p-grid">
        <div class="p-col-4 p-md-4 p-lg-3">
          <h6 class="p-mb-0">Nome</h6>
          {{paciente?.nome}}
        </div>
        <div class="p-col-4 p-md-4 p-lg-3">
          <h6 class="p-mb-0">CPF</h6>
          {{paciente?.cpf}}
        </div>
        <div class="p-col-4 p-md-4 p-lg-3">
          <h6 class="p-mb-0">RG</h6>
          {{paciente?.rg}}
        </div>
        <div class="p-col-4 p-md-4 p-lg-3">
          <h6 class="p-mb-0">sexo</h6>
          {{paciente?.sexo === "M"? "Masculino" : "Femenino"}}
        </div>
      </div>
      <div class="p-grid">
        <div class="p-col-4 p-md-4 p-lg-3">
          <h6 class="p-mb-0">Mãe</h6>
          {{paciente?.nomeMae}}
        </div>
        <div class="p-col-4 p-md-4 p-lg-3">
          <h6 class="p-mb-0">Pai</h6>
          {{paciente?.nomePai}}
        </div>
        <div class="p-col-4 p-md-4 p-lg-3">
          <h6 class="p-mb-0">Telefone(s)</h6>
          <div *ngFor="let f of telefones">
            <span>{{f?.fone}}</span>
          </div>
        </div>
      </div>
      <h4 class="p-mb-0">Endereço</h4>
      <div class="p-grid">
        <div class="p-col-4 p-md-4 p-lg-3">
          <h6 class="p-mb-0">Logradouro</h6>
          {{paciente?.endereco?.logradouro}}
        </div>
        <div class="p-col-4 p-md-4 p-lg-3">
          <h6 class="p-mb-0">Número</h6>
          {{paciente?.endereco?.numero}}
        </div>
        <div class="p-col-4 p-md-4 p-lg-3">
          <h6 class="p-mb-0">Bairro</h6>
          {{paciente?.endereco?.bairro}}
        </div>
        <div class="p-col-4 p-md-4 p-lg-3">
          <h6 class="p-mb-0">CEP</h6>
          {{paciente?.endereco?.cep}}
        </div>
      </div>
      <div class="p-grid">
        <div class="p-col-4 p-md-4 p-lg-3">
          <h6 class="p-mb-0">Estado</h6>
          {{paciente?.endereco?.uf}}
        </div>
        <div class="p-col-4 p-md-4 p-lg-3">
          <h6 class="p-mb-0">Municipio</h6>
          {{paciente?.endereco?.municipio}}
        </div>
        <div class="p-col-4 p-md-4 p-lg-3">
          <h6 class="p-mb-0">Complemento</h6>
          {{paciente?.endereco?.complemento}}
        </div>
      </div>

      <div class="col-md-6">
        <input type="file" (change)="onFileChanged($event)">
      </div>
      <div class="col-md-6">
        <input type="button" (click)="onBasicUpload()" value="upload">
      </div>
    </p-card>
  </div>
</div>
