/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #fbfbfb;}
mat-form-field.mat-form-field {
    font-size: 13px;
    width: 100%;
  }