<div class="p-jc-center">
  <div class="p-mr-5 p-ml-5 p-mt-3">
    <p-breadcrumb [model]="items" ></p-breadcrumb>

  </div>

  <div class="card p-mt-3 p-mr-5 p-ml-5">
    <div class="p-fluid p-formgrid p-grid p-mt-3">
      <div class="p-field p-col-12 p-md-6">
        <label for="nome">Nome</label>
        <input [(ngModel)]="paciente.nome" id="nome" name="nome" type="text" pInputText>
      </div>
      <div class="p-field p-col-12 p-md-2">
        <label for="Idade">Nascimento</label>
        <p-calendar [(ngModel)]="dataNascimento" inputId="basic" 
        [monthNavigator]="true" 
        [yearNavigator]="true"
        [locale]="br"
        yearRange="1950:2020" dateFormat="dd/mm/yyyy"></p-calendar>
      </div>
      <div class="p-field p-col-12 p-md-2">
        <label for="rg">RG</label>
        <input id="rg" [(ngModel)]="paciente.rg" type="text" pInputText>
      </div>
      <div class="p-field p-col-12 p-md-2">
        <label for="cpf">CPF</label>
        <input id="cpf" [(ngModel)]="paciente.cpf" type="text" pInputText>
      </div>
    </div>
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-12 p-md-2">
        <label for="sexo">Sexo</label>
        <p-dropdown [options]="sexos" [(ngModel)]="paciente.sexo"></p-dropdown>
      </div>
      <div class="p-field p-col-12 p-md-5">
        <label for="nomeMae">Mãe</label>
        <input id="nomeMae" [(ngModel)]="paciente.nomeMae" type="text" pInputText>
      </div>
      <div class="p-field p-col-12 p-md-5">
        <label for="nomePai">Pai</label>
        <input id="nomePai" [(ngModel)]="paciente.nomePai" type="text" pInputText>
      </div>
    </div>
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-12 p-md-4" *ngFor="let f of telefones">
        <div class="p-inputgroup">
          <input id="fone" placeholder="fone" [(ngModel)]="f.fone" mask="99-9999-9999" pInputText />
          <button [disabled]="telefones.length === 3" (click)="addFone()" type="button" pButton pRipple
            icon="pi pi-plus-circle" styleClass="p-button-warn"></button>
        </div>
      </div>
    </div>
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-12 p-md-3">
        <label for="cep">CEP</label>
        <input [(ngModel)]="endereco.cep" id="cep" type="text" pInputText>
      </div>
      <div class="p-field p-col-12 p-md-4">
        <label for="logradouro">Logradouro</label>
        <input id="logradouro" [(ngModel)]="endereco.logradouro" type="text" pInputText>
      </div>
      <div class="p-field p-col-12 p-md-1">
        <label for="numero">Nº</label>
        <input id="numero" [(ngModel)]="endereco.numero" type="text" pInputText>
      </div>
      <div class="p-field p-col-12 p-md-4">
        <label for="complemento">Complemento</label>
        <input id="complemento" [(ngModel)]="endereco.complemento" type="text" pInputText>
      </div>
    </div>
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-12 p-md-2">
        <label for="estado">Estado</label>
        <input [(ngModel)]="endereco.uf" id="estado" type="text" pInputText>
      </div>
      <div class="p-field p-col-12 p-md-5">
        <label for="municipio">Municipio</label>
        <input id="municipio" [(ngModel)]="endereco.municipio" type="text" pInputText>
      </div>
      <div class="p-field p-col-12 p-md-5">
        <label for="bairro">Bairro</label>
        <input id="bairro" [(ngModel)]="endereco.bairro" type="text" pInputText>
      </div>
    </div>
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-12 p-md-2">
        <button pButton type="button" label="Cadastrar" (click)="save()"></button>

      </div>
    </div>
  </div>
</div>
