<div class="p-jc-center">
  <div class="p-mr-5 p-ml-5 p-mt-3">
    <p-breadcrumb [model]="items"></p-breadcrumb>
  </div>
  <div class="p-mr-5 p-ml-5 p-mt-3">
    <p-table [value]="pacientes">
      <ng-template pTemplate="header">
        <tr>
          <th>Nome</th>
          <th>Nascimento</th>
          <th>CPF</th>
          <th>Telefone(s)</th>
          <th>Ação</th>

        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-paciente>
        <tr>
          <td>{{paciente.nome}}</td>
          <td>{{paciente.nascimento}}</td>
          <td>{{paciente.cpf}}</td>
          <td>
            <div *ngFor="let fone of paciente.telefones">{{fone.fone}}</div>
          </td>
          <td>

            <span class="p-buttonset">
              <button pButton pRipple (click)="detalhes(paciente.id)" icon="pi pi-list"></button>
              <button pButton pRipple (click)="deletar(paciente.id)" icon="pi pi-trash"></button>
          </span>

          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

</div>
